@model WebHike.Models.Product.CreateProductViewModel

<h1 class="text-center">Створити товар</h1>

<div class="row">

    <form asp-action="Create" method ="post"
        class="col-md-6 offset-md-3">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Slug" class="form-label"></label>
            <input asp-for="Slug" class="form-control">
            <span asp-validation-for="Slug" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CategoryName" class="form-label"></label>
            <select class="form-select" asp-for="CategoryName">
                @foreach (var catName in ViewBag.Categories)
                {
                    <option value="@catName">@catName</option>
                }
            </select>
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" class="form-control">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="col-12">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" id="description" 
            class="form-control" rows="4" placeholder="Describe your product"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">
            Додати товар
        </button>
    </form>

</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/slugify@1.6.9/slugify.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const Name = document.getElementById("Name");
            const Slug = document.getElementById("Slug");
            Name.addEventListener("input", () => {
                Slug.value = slugify(Name.value, {
                    lower: true,
                    strict: true,
                    trim: true
                });
            });
        });
    </script>
}

