@{
    Layout = "_MainLayout";
}

<h1 class="text-center">Категорії товарів</h1>


<div class="card" style="width: 18rem;">
    <img src="https://img.ktc.ua/img/base/1_505/7/302237.webp" 
         class="card-img-top" alt="Рюкзаки">
    <div class="card-body">
        <h5 class="card-title">Рюкзаки</h5>
       
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
